@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* ------------- Global ------------- */
html {
    font-family: 'Open Sans';
    color: #fff;
    background: url(bggradient.png) no-repeat;
    background-size: cover;
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.project-title {
    position: absolute;
    left: 6vw;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .2em;
    word-spacing: .2em;
}

.project-title .desktop-author {
    display: block;
}

.project-title .mobile-author {
    display: none;
}

.app-menu-container {
    position: absolute;
    right: 6vw;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .2em;
    word-spacing: .2em;
    top: 12px;
}

.app-menu-container .button {
    padding: 3px 10px;
    border-radius: unset;
    background: none;
}

.submit-container .button {
    width: 100%;
}

.total-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.button {
    padding: 8px 21px;
    background: #f0592f;
    border: none;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    background: #80c257;
    transition: .2s ease-in-out;
}

span.highlight {
    background: #611c1c;
    padding: 0 20px;
}

span.h-small {
    padding: 3px 10px;
}

.blinking-cursor {
    color: #2E3D48;
    animation: 1s blink step-end infinite;
  }

/* ------------- App ------------- */
@media (max-width: 1021px) {
    .main-flex {
        margin: 0 !important;
        text-align: center;
    }
    .app-container {
        margin: 6vw;
    }
    .app-header h1:after {
        display: none;
    }
    .app-guess-container ul.app-guesses li {
        font-size: 7vw !important;
    }
    .app-input {
        width: 47vw !important;
        font-size: 24vw !important;
    }
}

@media (min-width: 550px) {
    .app-input {
        width: 17vw !important;
        font-size: 7vw !important;
    }
}

@media (max-width: 760px) {
    .app-footer .logo {
        width: 150px;
    }
    .desktop-author {
        display: none !important;
    }
    .mobile-author {
        display: block !important;
    }
}

.app-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app-container .main-flex {
    display: flex;
    align-items: center;

}

.app-input {
    width: 19vw;
    text-align: center;
    font-size: 10vw;
    color: #fff;
    background: transparent;
    border: none;
}

#guesses {
    margin-left: -40px;
}

.app-guess-container ul.app-guesses li {
    display: inline-block;
    font-size: 2vw;
    background: #48b1c5;
    border-radius: 3px;
    width: 51px;
    text-align: center;
    margin-right: 0px;
}

.app-guess-container ul.app-guesses li:nth-child(2) {
    background: #80c157;
}

.app-guess-container ul.app-guesses li:nth-child(3) {
    background: #d23329;
}

.app-guess-container ul.app-guesses li:nth-child(4) {
    background: #db2385;
}

.app-guess-container ul.app-guesses li:nth-child(5) {
    background: #f4a132;
}


/* ------------- Headers ------------- */
.app-header {
    margin-left: 6vw;
    flex: 2;
    flex-basis: 627px;
}

.app-header h1 {
    position: relative;
    font-size: 12px;
    line-height: 1.3;
    font-family: Barlow Semi Condensed;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.app-header h1:after {
    content: '';
    width: 80px;
    border-bottom: 1px solid #FF4652;
    position: absolute;
    bottom: 50%;
    margin-left: 20px;
}

.app-header h1:before {
    width: 0px; /* 30% */
    position: absolute;
    bottom: -17%;
    z-index: -1;
    height: 20px;
    background: #49b1c5;
}

.app-header h2 {
    font-family: Barlow;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 6.6vw;
    line-height: 1.1;
    margin: 17px 0 0 0;
}


/* ------------- Main ------------- */
.app-main {
    margin-right: 6vw;
    text-align: center;
}

.input-container {
    position: relative;
}


/* ------------- Footer ------------- */
.app-footer-container {
    border-top: solid #d22182 5px;
}

.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    background: #ececec;
    color: #000;
}

.logo {
    height: 100px;
    width: 300px;
}

.logo.fs {
    background: url(fa-logo@2x.png) no-repeat;
    background-size: contain;
    margin-left: 6vw;
    background-position: center;
}

.logo.gh {
    background: url(grace_hopper_academy.png) no-repeat;
    background-size: contain;
    margin-right: 6vw;
    background-position: center;
}